.gameCard {
    background-color: black;
    display: flex;
    justify-content: center;
    text-decoration: none;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    list-style: none;
    margin: 0;
  }

.gameImage:hover {
    opacity: 0.9;
    text-decoration: none;
  }

  .gameImage {
    border-radius: 10px;
    width: 380px;
    height: 300px;
    margin-top: 0.1cm;
    text-decoration: none;
    align-items: center;
    display: flex;
    
      }

  .titleName {
    text-align: center;
    font-size: 2.1rem;
    font-family: "Rubik", sans-serif;
    color: cornsilk;
    margin: 0.5rem;
    text-decoration: solid;
    font-size: 20px;
  }
  

  
  @media (max-width: 560px) {
    .gameImage {
      width: 90%;
      height: auto;
      
    }
  }

  .text{
      text-decoration: none;
      font-weight: bold;
      color: cornsilk;
      justify-content: center;
      text-align: center;
  }