.LandingWelcome {
    margin: 0;
    
    background: url("../media/Dog1.jpeg");
    background-color: black;
    background-size: cover;
    display: flex;
    height: 100vh;
    max-width: 100%;
    position:relative;
    background-size: 85% 100%;
    background-repeat: no-repeat;
    background-position:right;
}

.textContainer {
  
  
  text-align: center;
  width: 14%;
  font-style: oblique;
  color:white;
  display: flex;
  border: 2px solid black;
  position: relative;
  font-size: 16px;
  font-family: 'Staatliches';
  margin-bottom: 1cm;
  margin-left: 1cm;
  line-height: 1cm;

      
      

}

.container { 
justify-content: center;
flex-direction: column;
align-items: left;
position: relative;
display: flex;


}

.bn1 {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
.bn1 {
      width: 150px;
      height: 50px;
      cursor: pointer;
      font-size: 20px;
      font-family: 'Staatliches';
      font-weight: bold;
      letter-spacing: 5px;
      background: #ffc421;
      border: 2px solid black;
      align-items: center;
      margin-left: 1.8cm;
     
}
  
.bn1:after {
	content: '';
	position: absolute;
	transform: translateX(-55px) translateY(-40px);
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 0px 0px 50px transparent;
	transition: 500ms;
 
}

.bn1:hover {
	transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

.bn1:hover:after {
	background: white;
	box-shadow: 0px 0px 20px #ffc421, 0px 0px 30px #ffc421, inset 0px 0px 10px #ffc421;
	animation: spin 1s infinite linear;
}


.bn1:focus {
	outline: none;
}